body {
	background-color: palegreen;
	text-align: center;
}

h1 {
	color: blue;
}

.error-msg {
	color: red;
}

.table-div {
	width: 500px;
	height: 500px;
	overflow: scroll; /*visible*/
	margin: auto;
}

table {
	padding: 5px;
	margin: 5px;
	border: 5px blue;
}

form {
	border: 4px pink;
	border-style: solid;
	text-align: center;
	display: inline-block;
	padding: 5px;
}

input {
	margin-bottom: 2px;
}

td, th { padding: 5px; }

td.deadcell, th.deadcell {
	visibility: hidden !important;
	border-style: none !important;
}

.cell-header {
	/*color: pink;*/
	/*position: fixed;*/
}

th {
	border-style: double;
	background-color: dimgray;
	color: white;
}

td {
	border-style: solid;
}

